.sun{
    background-color: $background-color;
    background-image: url(../sun.jpg);
}
.rain{
    background-color: $background-color;
    background-image: url(../rain.jpg);
}
.cloud{
    background-color: $background-color;
    background-image: url(../cloud.jpg);
}
.snow{
    background-color: $background-color;
    background-image: url(../snow.jpg);
}
.night{
    background-color: $background-color;
    background-image: url(../night.jpg);
}