.sunny{
    background-color: $background-color;
    background-image: url(../../HTML/sunny.jpg);
}
.rainy{
    background-color: $background-color;
    background-image: url(../../HTML/rainy.jpg);
}
.cloudy{
    background-color: $background-color;
    background-image: url(../../HTML/cloudy.jpg);
}
.snowy{
    background-color: $background-color;
    background-image: url(../../HTML/snowy.jpg);
}