.sun{
    background-color: $background-color;
    background-image: url(../../HTML/sun.jpg);
}
.rain{
    background-color: $background-color;
    background-image: url(../../HTML/rain.jpg);
}
.cloud{
    background-color: $background-color;
    background-image: url(../../HTML/cloud.jpg);
}
.snow{
    background-color: $background-color;
    background-image: url(../../HTML/snow.jpg);
}